* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v160_385 {
  width: 430px;
  height: 932px;
  background: rgba(238, 233, 233, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 450px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v160_386 {
  width: 430px;
  height: 140px;
  background: url("../images/v160_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v160_387 {
  width: 430px;
  height: 140px;
  background: rgba(0, 82, 156, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v160_388 {
  width: 377px;
  height: 600px;
  background: url("../images/v160_388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 27px;
  overflow: hidden;
}
.v160_389 {
  width: 377px;
  height: 600px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_390 {
  width: 377px;
  height: 600px;
  background: url("../images/v160_390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 28px;
  overflow: hidden;
}
.v239_26 {
  width: 377px;
  height: 600px;
  background: url("../images/v239_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_396 {
  width: 394px;
  height: 616px;
  background: url("../images/v160_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 18px;
  overflow: hidden;
}
.v242_27 {
  width: 394px;
  height: 616px;
  background: url("../images/v242_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_429 {
  width: 70px;
  height: 70px;
  background: url("../images/v160_429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 180px;
  overflow: hidden;
}
.v160_430 {
  width: 70px;
  height: 70px;
  background: rgba(214, 233, 238, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v160_431 {
  width: 62px;
  height: 62px;
  background: rgba(0, 82, 156, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
}
.v160_432 {
  width: 34px;
  height: 34px;
  background: url("../images/v160_432.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 18px;
  overflow: hidden;
}
.v160_433 {
  width: 357px;
  height: 508px;
  background: url("../images/v160_433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 38px;
  overflow: hidden;
}
.v160_434 {
  width: 190px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 83px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v160_435 {
  width: 58px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_436 {
  width: 340px;
  color: rgba(179, 181, 197, 1);
  position: absolute;
  top: 128px;
  left: 7px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v160_437 {
  width: 340px;
  color: rgba(179, 181, 197, 1);
  position: absolute;
  top: 361px;
  left: 7px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v160_438 {
  width: 357px;
  color: rgba(179, 181, 197, 1);
  position: absolute;
  top: 447px;
  left: 0px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v160_439 {
  width: 97px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 155px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_440 {
  width: 106px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 199px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_441 {
  width: 113px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 199px;
  left: 234px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_442 {
  width: 86px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 226px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_443 {
  width: 99px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 254px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_444 {
  width: 95px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 282px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_445 {
  width: 59px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 380px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_446 {
  width: 74px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 380px;
  left: 273px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_447 {
  width: 88px;
  color: rgba(0, 82, 156, 1);
  position: absolute;
  top: 484px;
  left: 260px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v160_448 {
  width: 58px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 408px;
  left: 288px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_449 {
  width: 89px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 408px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_450 {
  width: 37px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 484px;
  left: 5px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_451 {
  width: 169px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 282px;
  left: 176px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_452 {
  width: 84px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 254px;
  left: 263px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_453 {
  width: 69px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 226px;
  left: 276px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_454 {
  width: 100px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 155px;
  left: 247px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_455 {
  width: 124px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 175px;
  left: 223px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_456 {
  width: 172px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50px;
  left: 177px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_457 {
  width: 94px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 71px;
  left: 253px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v160_458 {
  width: 65px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 71px;
  left: 5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_459 {
  width: 250px;
  height: 24px;
  background: url("../images/v160_459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 70px;
  overflow: hidden;
}
.v160_460 {
  width: 166px;
  color: rgba(0, 82, 156, 1);
  position: relative;
  top: 0px;
  left: 10px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v160_461 {
  width: 15px;
  height: 16px;
  background: url("../images/v160_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 180px;
  overflow: hidden;
}
.v160_462 {
  width: 384px;
  height: 65px;
  background: url("../images/v160_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 23px;
  overflow: hidden;
}
.v160_463 {
  width: 384px;
  height: 65px;
  background: rgba(0, 82, 156, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v160_464 {
  width: 30px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21px;
  left: 177px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v160_465 {
  width: 384px;
  height: 65px;
  background: url("../images/v160_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 759px;
  left: 23px;
  overflow: hidden;
}
.v160_466 {
  width: 384px;
  height: 65px;
  background: url("../images/v160_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 82, 156, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v160_467 {
  width: 86px;
  color: rgba(0, 82, 156, 1);
  position: absolute;
  top: 21px;
  left: 166px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v160_468 {
  width: 25px;
  height: 25px;
  background: url("../images/v160_468.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 132px;
  overflow: hidden;
}
