* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.background {
  width: 437px;
  height: 932px;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 450px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.background_circle {
  width: 437px;
  height: 432px;
  background: url("../images/background_contact_circle.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.contact_text {
  width: 113px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 96px;
  left: 169px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.icon_contact {
  width: 387px;
  height: 359px;
  background: url("../images/contact_animation.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 32px;
  overflow: hidden;
}
.textbox_nama {
  width: 337px;
  height: 58px;
  position: absolute;
  top: 492px;
  left: 50px;
  border: 1px solid rgba(122, 137, 236, 1);
  border-radius: 16px;
  padding: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  outline: none;
  background-color: transparent;
}
.textbox_email {
  width: 337px;
  height: 58px;
  position: absolute;
  top: 577px;
  left: 50px;
  border: 1px solid rgba(122, 137, 236, 1);
  border-radius: 16px;
  padding: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  outline: none;
  background-color: transparent;
}
.textbox_message {
  width: 337px;
  height: 110px;
  position: absolute;
  top: 662px;
  left: 50px;
  border: 1px solid rgba(122, 137, 236, 1);
  border-radius: 16px;
  padding: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  outline: none;
  background-color: transparent;
}
.nama_text {
  width: 31px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 485px;
  left: 90px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 0.3499999940395355;
  text-align: left;
}
.nama_background {
  width: 49px;
  height: 9px;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 81px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.email_background {
  width: 49px;
  height: 9px;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 81px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.email_text {
  width: 28px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 569px;
  left: 90px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 0.3499999940395355;
  text-align: left;
}
.message_background {
  width: 61px;
  height: 9px;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
  position: absolute;
  top: 658px;
  left: 81px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.message_text {
  width: 45px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 654px;
  left: 90px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 0.3499999940395355;
  text-align: left;
}
.navbar_top {
  width: 437px;
  height: 58px;
  background: rgba(1, 83, 157, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.icon_sinyal {
  width: 16px;
  height: 16px;
  background: rgba(34, 191, 20, 1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
  border-radius: 50%;
}
.icon_brimo {
  width: 52px;
  height: 49px;
  background: url("../images/icon_brimo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 192px;
  overflow: hidden;
}
.button_send {
  width: 401px;
  height: 48px;
  background: linear-gradient(rgba(0, 82, 156, 1), rgba(77, 160, 234, 1));
  padding: 8px 36px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 832px;
  left: 9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px
    rgba(0.07058823853731155, 0.07058823853731155, 0.07058823853731155, 0.25);
  overflow: hidden;
}
.send_text {
  width: 42px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 12px;
  left: 180px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
